<div>
  <h2>List users</h2>
  <%= link_to 'New user', new_user_path , class: "new_user"%>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.lastName%></td>
          <td>
            <%= link_to 'See', user_path(user)%>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>

