<h1>User</h1>
<b>Name: </b>
<p id = 'name' ><%= @user.name %></p>
<b>Last Name: </b>
<p> <%= @user.lastName %></p>
<%= link_to "Users List", users_path %>
<button id='click'>Saludame</button>
<div id = "new-hello" style = "display:none;"></div>